.emptyContainer {
  color: white;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.favoritesEmpty {
  color: black;
  font-weight: 800;
}

.favoritesWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 29px;
  margin-top: 30px;
}
