:root {
  --background-color: #ffffff;
  --text-main-color: #121417;
  --text-second-color: rgba(18, 20, 23, 0.5);
  --text-white-color: #ffffff;
  --button-first-color: #3470ff;
  --button-second-color: #0b44cd;
}
